body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

.nav {
    color: gray;
}

.nav ul {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.nav li {
    list-style-type: none;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.container p {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
}

.description {
    padding: 15px;
}

.langs {
    font-style: italic;
}

.cardImage {
    height: 120px;
}

.projects {
    display: flex;
    justify-content: center;
}

.pageTitle {
    text-align: center;
    margin: 5rem;
}
